@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Delicious Handrawn', cursive; */

/*elegí dos fuentes para utilizar, una para los h1 y la otra para el resto del proyecto*/

body{
    font-family: 'Mulish', sans-serif;
    background-color: rgb(152, 247, 247);
}

/*alíneo el header al centro y coloco color de fondo*/
header{
    background-color: rgb(163, 236, 131);
    height: 7.5rem; 
}
.navbar{
    text-align: right;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}
.navbar li{
    display: inline;
    list-style: none;
    padding: 0.2rem;
    border: 0.1rem solid gray;
    margin: 1.5rem;
}
.navbar li a{
    text-decoration: none;
}
/* alíneo al centro*/
main{
    text-align: center;
    }
    /*alíneo a la izquierda y coloco color de fondo*/
footer{
    text-align: left;
    background-color: rgb(184, 247, 122);
}
/*cambio la fuente y tamaño de los h1*/
h1{
    font-family: 'Delicious Handrawn', cursive;
    font-size: xx-large;
}
/*cambio color a algunos elementos*/
.cambio-color{
        color: blue;
    }
/*coloco el formulario a la izquierda*/
.formulario{
    text-align: left;
}
/*cambio fuente,color y tamaño*/
.parrafo-color{
    color: rgb(255, 80, 80);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
/*pongp la class para el home */
.section-principal{
    font-size: 30px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #3d4cc1, #007de6, #009fd5, #00b99e, #48cc60);
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 30px 30px 20px 30px;
}
/*cambiamos fuente del título*/
.cambio-fuente{
    font-family: 'Delicious Handrawn', cursive;
}
/* cambiamos fuente del texto */
.cambio-parrafo-home{
    font-family: 'Chivo Mono', monospace;
    text-align: justify;
}
.card{
    width: 10rem;
    height: 16rem;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 1rem;
}
.card-image{
    width: 9.8rem;
    height: 9rem; 
}
.card-image-1{
    width: 9.8rem;
    height: 8rem;
    object-fit: cover;
}
.card-list{
    list-style: none;
}
.card-name-product{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-actividad{
    width: 220px;
    height: 275px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 20px;
    padding: 40px;
    background-color: rgb(235, 175, 102);
    box-shadow: 5px 5px 5px 5px;
}
.card-image-actividad{
    width: 90px;
    height: 90px;
}
.card-texto{
    margin-top: 10px;
    background-color: white;
}