@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Delicious Handrawn', cursive; */

/*elegí dos fuentes para utilizar, una para los h1 y la otra para el resto del proyecto*/

body{
    font-family: 'Mulish', sans-serif;
    background-color: rgb(129, 206, 237);
} 

/*alíneo el header al centro y coloco color de fondo*/
header{
    background-color: rgb(163, 236, 131);
    height: 150px; 
}

/* alíneo al centro*/
main{
    text-align: center;
    }

/*cambio la fuente y tamaño de los h1*/
h1{
    font-family: 'Mulish', sans-serif;
    font-size: xx-large;
}
/*cambio color a algunos elementos*/
.cambio-color{
        color: blue;
    }
/*coloco el formulario a la izquierda*/
.formulario{
    margin-left: 10px;
    text-align: left;
    padding-bottom: 20px;
}
/*cambio fuente,color y tamaño*/
.parrafo-color{
    color: rgb(255, 80, 80);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
/*pongp la class para el home */
.section-principal{
    font-size: 30px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #3d4cc1, #007de6, #009fd5, #00b99e, #48cc60);
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 30px 30px 20px 30px;
}
/*cambiamos fuente del título*/
.cambio-fuente{
    font-family: 'Mulish', sans-serif;
    padding-bottom: 25px;
}
/* cambiamos fuente del texto */
.cambio-parrafo-home{
    font-family: 'Chivo Mono', monospace;
    text-align: justify;
}

.titulo-productos{
    text-align: center;
    margin-top: 20px;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.card{
    width: 220px;
    height: 290px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 30px;
    padding: 30px;
    background-color: rgba(178, 191, 225, 0.879);
    box-shadow: 5px 5px 5px 5px;
}
.card-image{
    width: 10rem;
    height: 9rem; 
}
.card-image-1{
    width: 9.8rem;
    height: 8rem;
    margin-right: 10px;
}
.card-list{
    list-style: none;
}
.card-name-product{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-image-actividad{
    width: 90px;
    height: 90px;
}
.card-texto{
    margin-top: 10px;
    background-color: white;
}



nav{
    display: flex;
    background-color: #4a841577;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
nav img{
    width: 100px;
    height: 100px;
    margin-right: 100px;
}
nav div a{
    text-decoration: none;
}
nav div a h1{
    font-size: 2rem;
    color: black;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
nav ul li{
    margin: 0 1.9rem;
    font-size: 1.3rem;
}
nav ul li a{ 
    text-decoration: none;
    color: black;
}


.main-act-6{
    display: flex ;
    background-color: #0E0E0E;
    justify-content: center;
    align-items:  center; 
}
.contenedor-1{
    display:flex;
    width: 75%;
    height: 650px;
    background-color: #A64253;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.box-1{
    width: 900px;
    height: 400px;
    background-color: #FAFAFA;
    border-radius: 30px;
    margin-top: 90px;
    margin-bottom: 100px;
}
.img-act-6{
    width: 100%;
    height: 60%;
    margin-bottom: 50px;
} 
.contenido{
    display: flex;
    width:  100%;
    height: 40%;
    background-color: #080705;
    justify-content: end;
    align-items: end;
    border-radius: 30px;
}
.parrafo{
    display: flex;
    width: 70%;
    height: 100%;
    background-color: #080705;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 30px;
}
.day{
    display: flex;
    width: 30%;
    height: 100%;
    background-color: #70C1B3;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    font-family: 'Poiret One', cursive;
    font-weight:bold;
    color: #EFEFEF;
    border-radius: 0px 0px 30px 0px;
}
.grados{
    font-size: 6rem;
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    color: #EFEFEF;
    margin-right: 2rem;
    padding-right: 1.5rem;
}
.cloud{
    font-size: 3.5rem;
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    color: #EFEFEF;
    margin-right: 7rem;
}
.new{
    font-size: 1.5rem;
}


/* acá arranca el footer */

.footer{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    padding-top: 10px;
    background-color: #92f5e6;
}
.info-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 80px;
    padding-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 7;
}
.imagen-footer{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.img-footer{
    width: 65px;
    height: 65px;
    margin-right: 10px;
}
.titulo-footer{
    font-size: 1.2rem;
    color: black;
}
.contactanos{
    display: flex;
    flex-direction: column;
    grid-column-start: 7;
    grid-column-end: 9;
    align-items: start;
    margin-left: 50px;
}
div a{
    text-decoration: none;
    color: #0E0E0E;
    font-size: 1.2rem;
}
ul li{
    list-style: none;
    align-items: center;
}
.redes{
    display: flex;
    column-gap: 15px;
    margin-bottom: 7px;
    margin-left: 15px;
}
.img-redes{
    border-radius: 5px;
}

/* Entrega N°7 
Tarea 1: cards con grid y media querys*/

.productos-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    background-color: #ef3271;
    align-items: center;
}
@media(max-width: 1440px){
    .productos-grid{
        grid-template-columns: repeat(4,1fr);
        background-color: #3917cc;
    }
}
@media(max-width: 1024px){
    .productos-grid{
        grid-template-columns: repeat(3,1fr);
        background-color: #cff758;
    }
} 
@media(max-width: 768px){
    .productos-grid{
        grid-template-columns: repeat(2,1fr);
        background-color: #3cf282;
    }
} 
@media(max-width: 480px){
    .productos-grid{
        grid-template-columns: repeat(1,1fr);
        background-color: #ae92f5;
    }
} 

/* Tarea 2: galería con flex-wrap*/
.productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

/* Tarea 3: footer responsivo */

.footer-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-rows: repeat(1,1fr); */
    width:100%;
    height:150px;
    align-items: center;
    justify-content: space-between;
    background-color: #3af563;
}

@media(max-width: 1440px){
    .footer-grid{
        grid-template-columns: repeat(6,1fr);
        background-color: #3917cc;
    }
}
@media(max-width: 1024px){
    .footer-grid{
        grid-template-columns: repeat(4,1fr);
        background-color: #cff758;
    }
} 
@media(max-width: 768px){
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
        background-color: #3cf282;
    }
} 
@media(max-width: 480px){
    .footer-grid{
        grid-template-columns: repeat(1,1fr);
        background-color: #ae92f5;
    }
}